/* приховані заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --basic-color: #2e2f42;
  --second-color: #434455;
  --alt-color: #ffffff;
  --active-color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  background: #ffffff;
}
.menu-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--basic-color, #2e2f42);
}
.menu-item:hover,
.menu-item:focus,
.menu-item.current {
  color: var(--active-color, #404bbf);
}

.phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color, #434455);
}
.mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color, #434455);
}
.mail:hover,
.mail:focus {
  color: #404bbf;
}
/* hero */
.hero-box {
  background-color: #2e2f42;
}
.hero {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--basic-color, #2e2f42);
}
.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color, #434455);
}

.team-section {
  background: #f4f4fd;
}
.main-bgcolor {
  background: #ffffff;
}
.footer-background {
  background: #2e2f42;
}
.footer-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--alt-color, #ffffff);
}

/* логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-end {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color, #2e2f42);
}
.logo-end-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
